body {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.wrapper {

    display: flex;
    justify-content : center;
    margin-top : 20px;
}
.loginContainer {
    padding : 20px;
    width : 80%;
    max-width : 500px;
    border : 1px solid #dedede;
    background-color : #fff;
    text-align : center;
    box-shadow : 0 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow : 0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow : 0 1px 4px rgba(0,0,0,0.3);
}

form {
    display: flex;
    flex-direction : column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom : 20px;
    padding : 5px 10px;
    border-radius : 2px;
    border : 1px solid #dedede;
    background-color : #f2f2f2;
}

input[type="submit"] {
    background-color :  #7F7FD5;
    color : #fff;
    border : none;
    border-radius : 2px;
    margin-bottom : 10px;
}